@import "tailwindcss";

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.overlay.active{
    display: block;
}
.overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 5rem;
}
.menu {
    transition: all 0.5s ease;
}
.menu.active {
    background-color: #9aa1ad;
    color: #ffffff;
}
.menu-box {
    min-height: 512px;
}
